@media (min-width: 1100px) {
  .MuiContainer-maxWidthLg {
    max-width: 1100px;
  }
}

@media (min-width: 576px) {
  .MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.header-nav-menu ul > li > a {
  min-width: 200px;
  justify-content: center !important;
}

.clickable {
  cursor: pointer;
}

.CircularProgressbar.circular-progress-xs .CircularProgressbar-text {
  font-size: 32px !important;
  font-weight: 200 !important;
  font-family: Heebo, sans-serif;
}

.card-indicator {
  left: 0px;
}

.political-party-votation-detail {
  .icon-result-text {
    font-size: 15px;
    min-width: 100px;
  }

  .avatars {
    font-size: 15px;
  }
}
